.sortButton {
  background-color: black;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 20px;
  border-radius: 0;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sortButton:hover,
.sortButton:focus,
.sortButton:active {
  background-color: #fff;
  color: #000;
  border: 2px solid  black;
}
